.punk-higlit{
   flex: 0.25;
}
.selected-punk{
   object-fit: contain;
   max-width: min(30vh, 30vh);
   max-height: 40vh;
}
.punk-details{
flex: 0.75;
}
.owner > div{
   margin: 0 5px;
   cursor: pointer;
}
.owner-img-container > img{
   height: 100%;
   width: 100%;
   
}